body{
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    background: url('https://www.aggreko.com/-/media/Aggreko/Images/Aggreko-Perspectives/Mining-Perspective-main-image.jpg?la=ja-JP&amp;w=1500&amp;hash=14C2C569990929031E837F5E6483E020BE4ED08C');
    background-size: cover;
    overflow-y: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    padding: 10px;
    text-align: center;
    min-height: 30px;
}

.logo-img{
    width: 120px;
    height: 60px;
    display: flex;
    position: absolute;
    left: 15px;
    top: -1px;
    
}

li{
    display: inline-flex;
    font-size: 20px;
    transition: 500ms;
    margin-left: 60px;
    margin-bottom: 10px;
    

}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

li:hover{
    display: inline-flex;
    font-size: 20px;
    border-bottom: solid 2px;
    border-color: gold;
    transition: 500ms;
    margin-left: 60px;
}

.header{
    position: fixed;
    z-index: 1;
    background-color: rgba(250, 247, 247, 0.979);
    top:0 ;
    left: 0;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 100%;
    transition: transform 0.3s ease;
}

.map{
    width: 800px;
    height: 700px;
    position: relative;
    left: 55vh;
    top: 120px;
    z-index: 1;
}

.contact-polus{
    width: 600px;
    height: 700px;
    position: absolute;
    left: 5vh;
    top: 200px;
    color: white;
    font-size: 24px;
    text-align: center;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
}
.popup__content{
    background-color: white;
    color: black;
    position: relative;
    transition: all 0.8s ease 0s;
    border: solid 2px;
    border-color: rgb(248, 125, 10);
    border-radius: 10px;
    width: 600px;
    height: 300px;
    bottom: 100px;
    
}


.popup__title{
    font-size: 34px;
    margin: 0px 0px 0px 4em;
    color: black;

}

.popup__text{
    font-size: 24px;
    color: #ff8c08;
    padding: 10px;
}
.popup__close{
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 20px;
    color: rgb(255, 196, 0);

}

button{

    width: 200px;
    border-radius: 10px;
    height: 60px;
    position: absolute;
    font-size: 20px;
    color: rgb(39, 39, 38);
    background-color: #ffcb08;
    transition: 1s ease;
    top: 750px;
    left: 850px;
    z-index: 2;
}

button:hover{
    width: 200px;
    height: 80px;
    color: white;
    transition: 0.5s ease;
 }